<link rel="stylesheet" href="/css/support/supportList.css?v={{ timestamp }}" />

<div class="list-container">
    <div class="title-area">
        <h2 class="section-title">나의 문의 내역</h2>
    </div>
    <table class="list-table">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>등록일</th>
            <th>답변 상태</th>
        </tr>
        </thead>

        <tbody>
        {{^inquiryPage.content}}
            <tr>
                <td class="no-list" colspan="4">등록된 문의 내역이 없습니다.</td>
            </tr>
        {{/inquiryPage.content}}

        {{#inquiryPage.content}}
            <tr class="tr-style">
                <td>{{inquiryId}}</td>
                <td><a href="#" class="list-link">{{title}}</a></td>
                <td>{{regDate}}</td>
                <td>
                    {{#replyContent}}<span class="answered">답변 완료</span>{{/replyContent}}
                    {{^replyContent}}<span class="waiting">답변 대기</span>{{/replyContent}}
                </td>
            </tr>
        {{/inquiryPage.content}}

        </tbody>


    </table>
    <div class="pagination">
        {{#inquiryPage.hasPrevious}}
            <a href="?page={{prevPage}}" class="page prev">«</a>
        {{/inquiryPage.hasPrevious}}

        {{#pageNumbers}}
            <a href="?page={{num}}" class="page {{#isCurrent}}active{{/isCurrent}}">{{displayNum}}</a>
        {{/pageNumbers}}

        {{#inquiryPage.hasNext}}
            <a href="?page={{nextPage}}" class="page next">»</a>
        {{/inquiryPage.hasNext}}
    </div>


</div>